*/Build/*
*.DS_Store*
*.plugins
*.metadata
VajraFramework/Android/workspace/GL2JNIActivity/bin/*
VajraFramework/Android/workspace/GL2JNIActivity/gen/*
VajraFramework/Android/workspace/GL2JNIActivity/libs/*
VajraFramework/Android/workspace/GL2JNIActivity/obj/*
VajraFramework/XCodeProject/build/*
RemoteSystemsTempFiles
*.swp
*.swo
